@{
    ViewData["Title"] = "Nuevo Plato";
    int indice = 1;
    int[] valor = {1,2,3,4,5};
}
@model Plato
<div class="formulario">
    <h1 class="titulo">Agregar un Plato</h1>
    <form class="form" asp-controller="Plato" asp-action="AgregarPlato">
        <div class="izq">
            <div class="item-plato">
                <label asp-for="Nombre">Nombre </label>
                <input type="text" asp-for="Nombre">
                <span asp-validation-for="Nombre"></span>
            </div>
            <div class="item-plato">
                <label asp-for="Calorias">Calorias </label>
                <input type="number" asp-for="Calorias">
                <span asp-validation-for="Calorias"></span>
            </div>
        </div>
        <div class="cen">
            <div class="item-plato">
                <label asp-for="ChefId">Nombre del Chef </label>
                <select asp-for="ChefId">
                    <option value="0" selected>Elija un Chef</option>
                    @foreach(string lc in @ViewBag.chefs){
                        <option value="@indice">@indice - @lc</option>
                        indice++;
                    }
                </select>
                <span asp-validation-for="ChefId"></span>
            </div>
        </div>
        <div class="der">
            <div class="item-plato">
                <label asp-for="Sabor">Sabor</label>
                <select asp-for="Sabor">
                    @foreach(int v in valor){
                        <option value="@v">@v</option>
                    }
                </select>
                <span asp-validation-for="Sabor"></span>
            </div>
            <div class="boton">
                <button class="btn btn-primary">Agregar Plato</button>
            </div>
        </div>
        
    </form>
</div>